/* 
Created with passion by Corné Adema / 0xcorne
GitHub: https://github.com/0xcorne
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Overpass&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Overpass' , sans-serif;
    margin: 0;
    background: url(background.jpeg) center no-repeat;
}

.main_nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    position: fixed;
    width: 100%;
    z-index: 500;
}

#title {
    color: white;
    font-size: 2.5rem;
    position: fixed;
}



.game_container {
    background-color: white;
    display: flex;
    height: 600px;
    width: 1000px;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
    top: 12rem;
    margin: 0 auto;
    box-shadow: 2px 2px 10px 1px;
    justify-content: center;
}

#rock_image {
    height: 10rem;
    position: absolute;
    top: 10rem;
    margin: 0 left;
    left: 8rem;
}

#rock_image:hover,
#rock_image:active {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .6s
}

#paper_image {
    height: 10rem;
    position: absolute;
    top: 10rem;
    margin: 0 left;
    left: 26rem;
}

#paper_image:hover,
#paper_image:active {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .6s
}

#scissors_image {
    height: 10rem;
    position: absolute;
    top: 10rem;
    margin: 0 left;
    left: 42rem;
}

#scissors_image:hover,
#scissors_image:active {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .6s
}

#rock_text {
    height: 10rem;
    position: absolute;
    top: 22rem;
    margin: 0 left;
    left: 12.5rem;
}

#paper_text {
    height: 10rem;
    position: absolute;
    top: 22rem;
    margin: 0 left;
    left: 28.5rem;
}

#scissors_text {
    height: 10rem;
    position: absolute;
    top: 22rem;
    margin: 0 left;
    left: 45rem;
}

#player_choice {
    height: 10rem;
    position: absolute;
    top: 27rem;
}

#computer_choice {
    height: 10rem;
    position: absolute;
    top: 29rem;
    
}

#result {
    height: 10rem;
    position: absolute;
    top: 31rem;
}

#new_game {
    background: white;
    border: solid 2px black;
    border-radius: 15px;
    height: 10rem;
    position: absolute;
    top: 34rem;
    max-height: 2rem;
}

#new_game:hover,
#new_game:active {
    cursor: pointer;
}